<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>例大祭12リスト</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
  </head>
  <body>
    <div id="page">
      <header id="header">
        <h1>例大祭12サークルチェックリスト</h1>
        <p class="siteName">
          例大祭12サークルチェックリスト
        </p>
      </header>
      <nav>
        <ul id="menu" class="clearfix">
          <li><a href="../index.html">Home</a></li>
          <li class="current"><a href="">例大祭12</a></li>
        </ul>
      </nav>
      <div id="content">
        <!-- メイン -->
        <div id="main">
          <h2>チェックリスト</h2>
          <article class="post">
            <table>
              <tr>
                <td class="felishia">Aさん</td>
                <td class="nplusplus">Ｎ＋＋</td>
                <td class="auto">AuTo君</td>
              </tr>
              <tr>
                <td class="aplusplus">AさんとＮ＋＋</td>
                <td class="autoplus">Ｎ＋＋とAuTo君</td>
                <td class="autofeli">AさんとAuto君</td>
              </tr>
            </table>
            <table id="checklist">
              <tr>
                <th>スペース名</th><th>サークル名</th><th>頒布物</th><th>価格</th><th>備考</th>
              </tr>
            </table>
          </article>
          <h2>あいさつ回りリスト</h2>
          <article class="post">
            <table id="do-mo">
              <tr>
                <th>スペース名</th><th>サークル名</th><th>頒布物</th><th>価格</th><th>備考</th>
              </tr>
            </table>
          </article>
        </div>
        <!-- サイドバー -->
        <div id="sidebar">
          <aside class="widget">
            <h3>過去ログ</h3>
            <ul>
              <li><a href="reitai11.html">例大祭11</a></li>
            </ul>
          </aside>
          <aside class="widget">
            <h3>外部リンク</h3>
            <ul>
              <li><a href="http://reitaisai.com/rts12/">例大祭公式</a></li>
              <li><a href="http://www.pixiv.net/">pixiv</a></li>
              <li><a href="http://www.green.dti.ne.jp/maisan/gensoukyou/reitaisai12_map.html">配置図</a></li>
            </ul>
          </aside>
        </div>
      </div>
      <div class="clear"></div>
      <!-- フッタ -->
      <footer id="footer">
        <p id="pageTop" class="pageTop">
          <a href="#page">↑ページの先頭へ</a>
        </p>
      </footer>
    </div>
  </body>
</html>